@page "/moviedetailsview/{MovieId}"
@using Movies.Server.Services

@inject IMoviesDataService _moviesDataService
@*@inject NavigationManager NavigationManager*@

@if (Movie == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container" style="margin-top:5%;">
        <div class="col-2">
            <div class="w3-card-4 pb-4">
                <img src=@Movie.PortraitUrl style="width:300px;height:400px" alt=@Movie.Name>
                <div>
                    <h4>@Movie.Name</h4>
                    <h5>@Movie.Year</h5>
                    @if (IsButtonActionsVisible)
                    {
                        <div>
                            <button @onclick="UpdateMovieLocal" href="#" class="btn btn-outline-primary">
                                Update
                            </button>
                            <button @onclick="RemoveMovieLocal" href="#" class="btn btn-outline-danger">
                                Remove
                            </button>
                        </div>
                    }
                </div>
                <a href="/moviesdata" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>

}

@code {

    protected override async Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(MovieId);
        Movie = await _moviesDataService.GetByIdAsync(id);
    }

    //[CascadingParameter] public IModalService Modal { get; set; }

    [Parameter] public bool IsButtonActionsVisible { get; set; }

    [Parameter] public MoviesDto Movie { get; set; }
    [Parameter] public string MovieId { get; set; }

    [Parameter] public EventCallback<MoviesDto> OnRemoveMovie { get; set; }
    [Parameter] public EventCallback<MoviesDto> OnUpdateMovie { get; set; }

    async void RemoveMovieLocal()
    {
        await OnRemoveMovie.InvokeAsync(Movie);
    }

    async void UpdateMovieLocal()
    {
        await OnUpdateMovie.InvokeAsync(Movie);
    }

    //void ReturnToMoviesListView()
    //{
    //    NavigationManager.NavigateTo("MoviesListView");
    //}

}