@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light" Casing="CharacterCasing.Upper" >
            <BarBrand>
                Movies
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To="/">Main</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarLink To="moviesdata">Movies Data</BarLink>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>Radzen Examples</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="gridradzenexample">Radzen Grid Example</BarDropdownItem>
                                <BarDropdownItem To="datalistradzenexample">Radzen DataList Example</BarDropdownItem>
                                <BarDropdownItem To="comboboxradzenexample">Radzen Combobox Example</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>Blazorise Examples</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="gridblazoriseexample">Blazorise Grid Example and BlazorAnimated</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>Blazored Examples</BarDropdownToggle>
                            <BarDropdownMenu>
                                <BarDropdownItem To="blazoredtypeaheadexample">Blazored Typeahead Example</BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    @*<BarItem>
                            <Button Color="Color.Primary">Sign up</Button>
                            <Button Color="Color.Secondary">Log in</Button>
                        </BarItem>*@
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>

    <footer>
        <div class="container mt-4 pt-3">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                    <h6>Social</h6>
                    <ul>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/GafasDePasta/" target="_blank"><img class="thumbnail img-responsive" src="/Icons/iconfinder_twitter_circle_gray_107135_32.png"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/santiago-sanchez-garcia-8bb64838" target="_blank"><img class="thumbnail img-responsive" src="/Icons/iconfinder_linkedin_circle_gray_107149_32.png"></a>
                        </li>
                    </ul>
                </div> <!-- end column -->
                <div class="col-12 col-md-6 col-xl-3">
                    <h6>About us</h6>
                    <img src="/Icons/clapperboard.png" alt="logo">
                    <p>&copy; 2021 &bull; all rights reserved.</p>
                </div> <!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer>

</Layout>
