@page "/datalistradzenexample"
@using Blazored.Toast.Configuration
@inject IMoviesDataService _moviesDataService

<div class="container" style="margin-top:1%;">
    <div class="row">
        <h4>This is an example of Radzen DataList for Blazor</h4>
        <a class="ml-2" target="_blank" href="https://razor.radzen.com/datalist">Documentation here</a>
    </div>

    @if (movies == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row pb-5">
            <button @onclick="ShowModalNewMovie" href="#" class="btn btn-outline-primary">
                <i class="fas fa-plus-square"></i>
                Add New Movie
            </button>
        </div>

        <RadzenDataList @ref="moviesList" WrapItems="true" AllowPaging="true" PageSize="6" Data="@movies" TItem="Movies.Server.Data.MoviesDto">
            <Template Context="movie">
                <RadzenCard Style="width:300px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div>Name:</div>
                            <b>@movie.Name</b>
                            <div style="margin-top:20px">Year:</div>
                            <b>@movie.Year</b>
                            <br />
                            <RadzenImage Path="@movie.PortraitUrl" Style="width:100px;" />
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>

    }
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }

    IEnumerable<Movies.Server.Data.MoviesDto> movies;
    RadzenDataList<MoviesDto> moviesList;

    protected override async Task OnInitializedAsync()
    {

        movies = await _moviesDataService.GetAll();

    }

    public async void ShowModalNewMovie()
    {
        var parameters = new ModalParameters();

        parameters.Add("MovieId", "");

        var formModal = Modal.Show<MoviesModalWithAPIService>("Create Movie", parameters);
        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            var insertedMovie = (MoviesDto)result.Data;

            var count1 = movies.Count();

            var mylist = movies.ToList();
            mylist.Add(insertedMovie);
            movies = (IEnumerable <MoviesDto>) mylist;
            //movies.Append(insertedMovie);

            var count2 = movies.Count();

            await moviesList.Reload();
            StateHasChanged();

            //_toastService.ShowSuccess($"{newMovie.Name} added!");
        }

    }
}